/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

 
 body {
	background-image:  url(../media/IMG_5862-Edit\ 600pp.jpg);
	width: 100%;
    height: 100%;
	opacity: 0.9;
    background-position: 5;
    background-size: cover;

 }

 .navbar {

    border: 1px solid #ccc;
	font-style: oblique;
 }


	li.nav-item {
	font-size:20px;
	text-shadow: -1px -1px 1px #aaa,;

}

 .div-videoinicio{
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;

 }


 div.parrafo  {
	font-size:14px; 
	font-style: oblique;
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	

 }

 .bg-white{
	margin-top: 20px;
	padding: 10px;
	height: 100%;
	width: 100%;
	--bs-bg-opacity: 0.8;
	background-color: white;
  
}


  
div.Contactame {
	margin: 5px;
    padding: 5px;


}

div.Ronda {
	margin-left: auto;
	margin-right: auto;
	height: 65%;
	width: 65%;
	padding: 8%;
	opacity: 0.9;
}

div.card {
	margin-top: 20px;


}

h5{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;


}

div.Contactame {

font-family: 'Courier New', Courier, monospace;
font-weight: bold;

}
h2{
font-weight: bold;
font-size:xx-large 

}


 

